@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: #f4f2f3;
}

/* navigation */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

nav h1{
    width: 400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 2rem;
    margin-left: 40px;
}

nav span{
    color: rgb(47, 53, 218);
}

nav ul{
    width: 400px;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav ul li {
    font-size: 1.2rem;
    font-weight: 700;
    text-align: center;
}

nav ul li a{
    width: 350px;
    text-decoration: none;
    color: rgb(47, 53, 218);
}

nav ul a:hover {
    background-color: rgb(47, 53, 218);
    padding: 10px;
    color: #ffffff;
    border-radius: 1rem;
    transition: all 0.3s ease-in-out;
}

/* hero page */
header .hero-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 30px;
    padding: 20px;
}

.hero-container .hero-image{
    padding: 20px;
}

.hero-container .hero-image img{
    width: 400px;
}

.animated{
    position: relative;
    animation-name: heroImage;
    animation-timing-function: ease-in-out;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-delay: 0s;
    animation-fill-mode: both;
    animation-direction: alternate-reverse;
}

@keyframes heroImage{
    0% {
        transform: translateY(20px);
      }
      100% {
        transform: translateY(-20px);
      }
}

.hero-container .hero-description{
    width: 600px;
    padding: 20px;
}

.hero-container .hero-description h4{
    font-size: 1.4rem;
    margin-bottom: 20px;
}

.hero-container .hero-description h4 .heading-span{
    background-color: #2072AF;
    padding: 10px;
    border-radius: 1rem;
    color: #ffffff;
    margin-right: 5px;
}

.span-animated{
    animation-name: spanScale;
    animation-timing-function: ease-in-out;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-delay: 0s;
    animation-fill-mode: both;
    animation-direction: alternate-reverse;
}

@keyframes spanScale{
    from {
        background-color: #2072AF;
      }
      to {
        background-color: #f72585;
      }
}


.hero-container .hero-description p{
    font-size: 1.2rem;
    text-align: justify;
}