/* main page */
main{
    width: 100%;
}
.container{
    padding: 30px;
    margin-top:20px;
}

.container h2{
    font-size: 2rem;
    color: #095b9a;
    margin-bottom: 5px;
    text-align: center;
}

.content{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, 400px);
    justify-content: space-between;
    gap: 20px;
    padding: 20px;
}

/* Reason Section */
.content_card{
  position: relative;
  width: 400px;
  height: 200px;
  border-radius: 10px;
  background-color: #2072AF;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  perspective: 1000px;
  box-shadow: 0 0 0 5px #ffffff80;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.content_card img {
    width: 400px;
    height: 200px;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }

.content_card .image{
    width: 100px;
    height: 100px;
}
  
  .content_card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(255, 255, 255, 0.2);
  }

  .content_card_body {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2072AF;
    transform: rotateX(-90deg);
    transform-origin: bottom;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }


  
  .content_card:hover .content_card_body {
    transform: rotateX(0deg);
  }
  
  .content_card:hover img {
    scale: 0;
  }
  
  .content_card_body p{
    padding: 10px;
    margin: 10px 0 0;
    color: #fff;
    font-size: 1.3rem;
    text-align: justify;
  }
  

/* web developement section */

.wrapper{
    width: 400px;
    height: 300px;
    position: relative;
    transform-style: preserve-3d;
}

.wrapper .card{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #095b9a;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    transform: translateY(0deg);
    box-shadow: 0px 10px 15px rgba(0,0,0,0.1);
    transition: transform 0.8s ease-in-out;
    transform-style: preserve-3d;
    backface-visibility: hidden;
   }

.front-face{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    padding: 10px;
}

.front-face img{
    width: 80px;
    border: 4px solid #ffffff;
    border-radius: 50%;
}

.front-face h3{
   font-size: 1.4rem;
   margin: 5px;
}

.wrapper:hover > .front-face{
    transform: rotateY(-180deg);
}

.back-face{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    padding: 20px;
}


.back-face p{
    text-align: justify;
}

.back-face button{
    width: 150px;
    height: 40px;
    margin-top: 20px;
    border-radius: .5rem;
    font-size: 1.2rem;
    font-weight: 700;
    background-color: #f72585;
    color: #ffffff;
    cursor: pointer;
    border: 0;
    outline: 0;
    transition: all .3s;
}

.back-face button:hover{
    background-color: #ffffff;
    border: 4px solid #f72585;
    color: #f72585;
}

.wrapper .back-face{
    transform: rotateY(180deg);
}

.wrapper:hover > .back-face{
    transform: rotateY(0deg);
  }